.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222020;
}

h1 {
  color: azure;
  font-family: 'Graphik LCG', sans-serif;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 22px;
}

.DZ {
  padding: 15px;
  color: azure;
  background-color: #2f1ce4;
  border: 2px solid #2f1ce4;
  border-radius: 10px;
}

.More {
  padding: 15px;
  color: azure;
  background-color: rgba(red, green, blue, 0);
  border: 2px solid azure;
  border-radius: 10px;
  margin-left: 3px;
}

li {
  list-style: none;
  margin-bottom: 42px;
  padding-left: 60px;
  padding-right: 60px;
}

.border {
  display: flex;
  flex-direction: column;
  border: 3px solid #2f1ce4;
  border-radius: 15px;
}

.list {
  justify-content: space-around;
  padding-left: 0;
}
