body {
    background: linear-gradient(0deg, #08b46a 0%, #cce989 100%);
    display: flex;
    justify-items: self-end;
}

.conteiner {
    margin: 30px 200px auto 200px

}

.html-css {
    width: 300px;
    background: green;
}

ol {
    list-style-type: none;

}

    h1 {
    margin: auto 0;
}
