body{
    background-color:rgba(5, 1, 1, 0.935);
    color:#ffffff;
    }
    p{
        text-align: right;
    }
    h1, h2{
        text-align: right;
        color:rgba(225, 0, 0, 0.69);
        font-family: sans-serif;
    }
    em{
        color: rgba(51, 177, 40, 0.828);
}