
html {
    background: linear-gradient(35deg, #8E73D2A6 0%, transparent, #63B9C8 65%, #436CBD38 80%, #756ED7B5 100%), linear-gradient(250deg, #72B8D8 0%, #467DC4 40%, #4F42BD 45%, #38A7C7 45%, #3E60BC 100%) 70% 100%/180% 180%;
}

.menu {
    display: flex;
}

.menu li {
    width: 250px;
    list-style-type: none;
    background: #10285aca;
    position: relative;
}

.menu li a {
    color: #ffffff;
    text-decoration: #ffffffe6;
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    transition: all .75s;
}

.menu li a:hover {
    background: #10275adb;
    transition: all 1s;
}

.menu li ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
}

.menu li:hover ul{
    display: block;
}