body {
    background: linear-gradient(0deg, #08b46a 0%, #cce989 100%);
    display: flex;
    justify-content: space-between;
}

.conteiner {
    margin-right: 200px;
    margin-left: 200px;
    max-width: 1520px;
}

.html-css {
}


ol {
    list-style-type: none;
}

h1 {
    margin: auto 0;
}
