@font-face {font-family: 'Muller';src: local('Muller-Regular'),url('fonts/MullerRegular.woff2') format('woff2'),url('fonts/MullerRegular.woff') format('woff');font-display: swap;font-weight: 400;font-style: normal;}/* Подключил шрифты */

@font-face {font-family: 'Muller';src: local('Muller-Medium'),url('fonts/MullerMedium.woff2') format('woff2'),url('fonts/MullerMedium.woff') format('woff');font-display: swap;font-weight: 500;font-style: normal;}/* Подключил шрифты */

@font-face {font-family: 'Muller';src: local('Muller-Bold'),url('fonts/MullerBold.woff2') format('woff2'),url('fonts/MullerBold.woff') format('woff');font-display: swap;font-weight: 700;font-style: normal;}/* Подключил шрифты */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  size: 100%;
}

html {
  font-family: 'Muller', sans-serif;
}

.flex {
  display: flex;
}

p {
  margin: 0;
}

body {
  background-color: #f1f1f1;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #fff;
}

.main-title {
  font-size: 36px;
  line-height: 1;
  font-weight: 900;
  color: rgb(207, 81, 81);
  padding-top: 28px;
}

.next-title {
  font-size: 28px;
  line-height: 1;
  font-weight: 700;
  color: rgba(64, 24, 19, 0.806);
  text-align: center;
  margin-bottom: 15px;
}

.list {
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;
}



.list-content {
  padding: 15px 10px;
  color: rgba(0, 0, 0, 0.937);
}

.list-label {
  margin-left: 5px;
  font-size: 22px;
  line-height: 1;
}

.list-input {
  height: 38px;
  width: 350px;
  margin-top: 6px;
  margin-bottom: 8px;
  padding-left: 8px;
  font-size: 18px;
  border: none;
  outline: 2px solid rgba(93, 37, 37, 0.696);
  border-radius: 8px 8px 0 0;
}

.list-input-chek {
  width: 20px;
  margin-left: 5px;
}




.list-input-text {
  margin-top: 6px;
  margin-bottom: 8px;
  font-size: 20px;
  padding-right: 5px;
}

.btn {
  width: auto;
  border: none;
  color: rgba(25, 16, 95, 0.908);
  background-color: #89dde28e;
  outline: 2px solid rgba(72, 178, 196, 0.65);
  border-radius: 10px 10px 0 10px;
  width: auto;
  height: 32px;
  font-size: 18px;
  font-weight: 700;
  margin: 30px 342px 25px 443px;
  cursor: pointer;
  box-shadow: 0 0 2px 2px;
}

.diagnoz {
  margin-left: 8px;
}

.textarea {
  padding: 10px;
  max-width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.svg {
  width: 35px;
  height: auto;
}

.list-item {
  width: auto;
  align-items: center;
  outline: 1px solid rgba(0, 0, 0, 0.128);
  border-radius: 10px 15px 10px 0;
  margin-top: 18px;

  justify-content: flex-start;
  align-items: center;
  background-color: #47c3d95e;
}

.list-p {
  text-align: left;
  font-size: 24px;
  line-height: 1;
  margin-top: 6px;
  margin-left: 10px;
}

.list-content {
  width: auto;
}

.pow {
  align-items: center;
  min-width: 240px;
  min-height: 40px;
  padding: 10px 15px;
  margin-left: auto;
  outline: 1px solid rgba(85, 10, 10, 0.244);
  border-radius: 20px;
  text-align: center;
  margin-right: 20px;
  background-image: linear-gradient(310deg,#ff0000, #e4431bbf);
  box-shadow: 1px 0 9px 5px #ffa800ed;
}

.pow-p {
  font-size: 20px;
  line-height: 1;
  letter-spacing: .2rem;
  font-weight: 600;
}
