.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html,
body {
    height: 100%;
}

#header {
    background: #9ACEEB;
    height: 100px;
    background-size: cover;
}

#left {
    background-image: url("left.png");
    height: 200px;
    width: 200px;
    float: left;
}

#left ul li {
    list-style-image: url("plus.png");
}

#right {
    padding-left: 20px;
    background-image: url("right.png");
    height: 200px;
    width: 200px;
    float: right;
}

#center {
    padding-left: 10px;
    margin: 0 200px;
    float: none;
}

#inner {
    padding-top: 10px;
    padding-bottom: 10px;
}

#outer {
    padding-bottom: 90px;
}

#container {
    position: relative;
    min-height: 100%;
}

#footer {
    background: pink;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#end {
    clear: both;
}